body {
  background: #e4e4e4;
  color: #484848;
}
.login-form-container {
  background: #d7d7d7;
  padding: 20px;
  margin: 40px 0;
  box-shadow: 1px #ff;
  -webkit-box-shadow: 0px 0px 15px 0px #ff0066;
  -moz-box-shadow: 0px 0px 15px 0px #ff0066;
  box-shadow: 0px 0px 15px 0px #ff0066;
  border-radius: 10px;
}
.login-form-container h3 {
  margin: 0px 0 15px 0;
}
.login-form-container .btn {
  width: 100%;
}
.btn-default {
  background: #ff0066;
  color: #ffffff;
}
.btn-default:hover,
.btn-default[disabled]:hover {
  background: #ff3385;
  color: #ffffff;
}
.header-row {
  margin: 10px;
}
.image-container {
  width: 100em;
  height: 30em;
  border: 2px solid #ff0066;
  margin: 10px auto;
  position: relative;
  background: #cbcbcb;
}
.image-container img {
  width: 200px;
  height: 200px;
}
