@import "colors";

body {
  background: @background;
  color: @text-color;
}

.login-form-container {
  // background: #eeeeee;
  background: darken(@background, 5%);
  padding: 20px;
  margin: 40px 0;
  box-shadow: 1px #ff;
  -webkit-box-shadow: 0px 0px 15px 0px @pink;
  -moz-box-shadow: 0px 0px 15px 0px @pink;
  box-shadow: 0px 0px 15px 0px @pink;
  border-radius: 10px;

  h3 {
    margin: 0px 0 15px 0;
  }

  .btn {
    width: 100%;
  }
}

.btn-default {
  @background: @pink;
  @color: #ffffff;
  background: @background;
  color: @color;

  &:hover, &[disabled]:hover {
    background: lighten(@background, 10%);
    color: @color;
  }
}

.header-row {
  margin: 10px;
}
